.header__center h1/*-- only on the start page logo --*/
{
	color: #ffffff;
	font-size: 50px;
	font-weight: 300;
	display: inline-block;
	vertical-align: middle;
}

.header__center h3
{
	color: #ffffff;
	font-size: 26px;
	font-weight: 300;
	margin-top: 20px;
}

h1.section-header
{
	font-weight: 600;
	font-size: 28px;
	text-align: center;
}

p
{
	display: inline-block;
	padding: 0;
	text-indent: 40px;
}