@import url('fonts.css');

body
{
    font-family: "Open Sans",sans-serif;
    font-weight: 300;
    height: 100%;
    color: #34455b;
}

*
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

}

section
{
    padding: 40px 0;
    position: relative;
}

.section-content
{
    height: 100%;
    margin: 30px auto;
    position: relative;
}

.btn-section
{
    display: block;
    margin: 30px auto;
    position: relative;
}

p
{
    display: block;
    padding: 0;
    text-indent: 40px;
}

.clearfix:before,.clearfix:after,.container:before,.container:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after {
    content:" ";
    display:table
}
.clearfix:after,.container:after,.container-fluid:after,.row:after {
    clear:both
}

.main-wrapper
{
    margin: 0 auto;
    max-width: 1920px;
    overflow: hidden;
}

/*-- Header start --*/

.header.index
{
    background: url("../assets/main-section-bg.jpg") no-repeat top center;
    position: relative;
    background-size: cover;
}

.header__bg
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.header__bg:before
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(52,69,91,.6);
}

/*-- header address-bar --*/

.header__address-bar
{
    width: 100%;
    height: 30px;
    position: relative;
    display: block;
    background-color: #182061;
    color: #ffffff;
    text-align: center;
    line-height: 29px;
    font-size: 14px;
}
.header-address__street{
    display: inline-block;
    text-align: center;
}
.header-address-email
{
    display: block;
    float: right;
}

.email-address__link a
{
    color: #fff;
    text-decoration: none;
}

.header-address__phone
{
    display: block;
    float: left;
}
/*-- header content --*/


/*-- header__top --*/

.header__top
{
    position: relative;
    padding: 15px 0;
    margin-bottom: 70px;
}

/*-- header menu --*/

.header__menu
{
    display: block;
    height: auto;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

.header__menu li
{
    display: inline-block;
    margin-left: 35px;
}

.header__menu li:first-child
{
    margin-left: 0;
}

.header-menu__link
{
    color: #ffffff;
    display: block;
    padding: 5px;
    text-decoration: none;
}

.header-menu__link:hover
{
    border-bottom: 3px solid #b29b3f;
}

.header__menu li > a.active
{
    border-bottom: 3px solid #a7acff;
}

/*-- header center content --*/

.header__center
{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.logo
{   
    background: url(../assets/logo.jpg) no-repeat 0 0;
    -webkit-background-size: contain;
    background-size: contain;
    display: inline-block;
    height: 73px;
    margin: 0 10px 0 10px;
    width: 146px;
    vertical-align: middle;
}

.btn
{
    background-color: #374199;
    -webkit-box-shadow: 0px 5px 12px 0px rgba(55,65,153,.58);
    -moz-box-shadow: 0px 5px 12px 0px rgba(55,65,153,.58);
    box-shadow: 0px 5px 12px 0px rgba(55,65,153,.58);
    color: #ffffff;
    cursor: pointer;
    border: 0 none;
    border-radius: 2px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding: 10px 0;
    text-transform: uppercase;
    transition: all 0.4s ease; 
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    width: 250px;
}

.btn:active, .btn:focus
{
    border: 0 none;
    outline: none;
}

.btn:hover
{
    background-color: #6566C7;
    -webkit-box-shadow: 0px 5px 12px 0px rgba(101,102,199,.58);
    -moz-box-shadow: 0px 5px 12px 0px rgba(101,102,199,.58);
    box-shadow: 0px 5px 12px 0px rgba(101,102,199,.58);
}

.btn-header
{
    margin-top: 50px;
}

/*-- partners logos --*/

.header__bottom
{
    position: absolute;
    bottom: 15px;
    width: 100%;
}

.header-partners-logos
{
    position: relative;
    text-align: center;
}

.partners-logos__list
{
    display: inline-block;
    margin-left: 20px;
}
.partners-logos__list:first-child
{
    margin-left: 0;
}

.partners__link
{

}

.koshel
{
    height: 35px; 
    width: 120px;
}

.bazis
{
    height: 50px; 
    width: 49px;
}

.don
{
    height: 41px; 
    width: 66px;
}

.spectr
{
    height: 40px;
    width: 160px;
}

/*-- SECTION ABOUT --*/

.about
{
    position: relative;
    background: url(../assets/greybg.gif) repeat 0 0;
}

.about .section-content
{
    margin: 30px auto;
    max-height: 220px;
    overflow: hidden;
    position: relative;
    text-align: justify;
    width: 800px;
}

.more
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 30px 0;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );

}

.btn-readmore
{
    display: block;
    background: none;
    border: 1px solid #374199;
    border-radius: 3px;
    padding: 5px 25px;
    color: #374199;
    text-align: center;
    margin: 0 auto;
}

.btn-readmore:hover
{
    background: #6566C7;
    color: #fff;
}

.readmore-close
{
    display: none;
}

/*-- SECTION PROJECTS --*/

.projects-elements
{
    position: relative;
    text-align: center;
}

.element
{
    border: 1px solid rgba(0,0,0,0.1);
    display: inline-block;
    height: 300px;
    width: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0 3px 12px rgba(0,0,0,.23), 0 3px 12px rgba(0,0,0,.16);
    -moz-box-shadow: 0 3px 12px rgba(0,0,0,.23), 0 3px 12px rgba(0,0,0,.16);
    box-shadow: 0 3px 12px rgba(0,0,0,.23), 0 3px 12px rgba(0,0,0,.16);
}

.element:first-child, .element:nth-child(4)
{
    margin-right: 40px;
}

.element:nth-child(3), .element:last-child
{
    margin-left: 40px;
}

.element-img
{
    height: 300px;
    border: 0 none;
    width: 300px;
}

.element-active
{

}

/*-- SECTION PARTNER --*/

.partners
{
    position: relative;
    background: url(../assets/greybg.gif) repeat 0 0;
}

.partner
{
    display: inline-block;
    overflow: hidden;
    margin-left: 58px;
    text-align: center;
}

.partner__link
{
    display: block;
    width: 100%;
    position: relative;
}

.partner__logo
{
    display: inline-block;
}

.partner:first-child
{
    margin-left: 0;
}

.partner .btn-readmore
{
    margin-top: 30px;
}

/*-- SECTION FORM --*/

form {
    width: 380px;
    margin: 4em auto;
    padding: 3em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.group {
    position: relative;
    margin-bottom: 45px;
}

input, textarea {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: #fafafa;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
}

input:focus { outline: none; }


/* Label */

label
{
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: all 0.2s ease;
}


/* active */

input:focus ~ label, input.used ~ label
{
    top: -20px;
    transform: scale(.75); left: -2px;
    /* font-size: 14px; */
    color: #4a89dc;
}

/* Underline */

.bar
{
    position: relative;
    display: block;
    width: 100%;
}

.bar:before, .bar:after
{
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #4a89dc;
    transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight
{
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}


/* active */

input:focus ~ .highlight
{
    animation: inputHighlighter 0.3s ease;
}


/* Animations */

@keyframes inputHighlighter
{
    from { background: #4a89dc; }
    to 	{ width: 0; background: transparent; }
}

@media (min-width:1200px)
{
    .container
    {
        width: 1024px;
        height: 100%;
        margin: 0 auto;
        padding: 0 15px;
        position: relative;
        display: block;
    }
}


