@import url('fonts.css');

body
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}
/*-- Header start --*/
.header__address
{
    width: 100%;
    height: 30px;
    position: relative;
    display: block;
    background-color: #182061;
    color: #ffffff;
}

.header-address-email
{
    width: auto;
    height: 30px;
    position: relative;
    display: block;
    float: right;
    line-height: 30px;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    text-align: right;
    color: #ffffff;
    font-family: inherit;
}
.header-address__phone
{
    width: auto;
    height: 30px;
    float: left;
    display: block;
    position: relative;
    line-height: 30px;
    font-size: 12px;
}

.phone__number
{
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #ffffff;
}

.header__main-section
{
    display: block;
    position: absolute;
    background: url('../assets/main-section-bg.jpg') no-repeat top center;
    -webkit-background-size: cover;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: 30px;
}

.header__main-section:before
{
    background: rgba(0,0,0,.4);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}
/*-- header menu --*/

ul.header-menu
{
    display: block;
    height: auto;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

.header-menu li
{
    display: inline-block;
    margin-left: 35px;
}

.header-menu li:first-child
{
    margin-left: 0;
}

a.header-menu__link
{
    color: #ffffff;
    display: block;
    padding: 5px;
    text-decoration: none;
}

a.header-menu__link:hover
{
    border-bottom: 3px solid #b29b3f;
}

.header-menu li > a.active
{
    border-bottom: 3px solid #a7acff;
}

/*-- header center content --*/

.header-center-content
{
    display: block;
    height: auto;
    position: relative;
    margin-top: 130px;
    text-align: center;
}

.logo
{   
    background: url(../assets/logo.jpg) no-repeat 0 0;
    -webkit-background-size: contain;
    background-size: contain;
    display: inline-block;
    height: 73px;
    margin: 0 10px 0 10px;
    width: 146px;
    vertical-align: middle;
}

.btn
{
    background-color: #374199;
    -webkit-box-shadow: 0px 5px 12px 0px rgba(55,65,153,.58);
    -moz-box-shadow: 0px 5px 12px 0px rgba(55,65,153,.58);
    box-shadow: 0px 5px 12px 0px rgba(55,65,153,.58);
    color: #ffffff;
    cursor: pointer;
    border: 0 none;
    border-radius: 2px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding: 10px 0;
    text-transform: uppercase;
    transition: all 0.4s ease; 
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    width: 250px;
}

.btn:active, .btn:focus
{
    border: 0 none;
    outline: none;
}

.btn:hover
{
    background-color: #6566C7;
    -webkit-box-shadow: 0px 5px 12px 0px rgba(101,102,199,.58);
    -moz-box-shadow: 0px 5px 12px 0px rgba(101,102,199,.58);
    box-shadow: 0px 5px 12px 0px rgba(101,102,199,.58);
}

.btn-header
{
    margin-top: 100px;
}

/*-- partners logos --*/

.header-partners-logos
{
    position: absolute;
    bottom: 25px;
    height: 100px;
    width: 100%;
    text-align: center;
}

.partners-logos__list
{
    display: inline-block;
    margin-left: 20px;
}
.partners-logos__list:first-child
{
    margin-left: 0;
}

.partners__link
{

}

.koshel
{
    height: 35px; 
    width: 120px;
}

.bazis
{
    height: 50px; 
    width: 49px;
}

.don
{
    height: 41px; 
    width: 66px;
}

.spectr
{
    height: 40px;
    width: 160px;
}



@media (min-width:1200px)
{
    .container
    {
        width: 1024px;
        height: auto;
        margin: 0 auto;
        position: relative;
        display: block.58
    }
}


